<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nullptr.one">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ContextApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".article.detail.view.ArticleDetailActivity"/>
        <activity android:name=".music.detail.view.MusicDetailActivity"/>
        <activity android:name=".movie.detail.view.MovieDetailActivity"/>
        <activity android:name=".image.view.ImageDetailActivity"/>
        <activity android:name=".comment.view.CommentActivity">
        </activity>

    </application>

</manifest>