<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nullptr.one">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ContextApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".article.detail.ArticleDetailActivity"
            android:theme="@style/OneActivityTheme"/>
        <activity android:name=".music.detail.MusicDetailActivity"
            android:theme="@style/OneActivityTheme"/>
        <activity android:name=".movie.detail.MovieDetailActivity"
            android:theme="@style/OneActivityTheme"/>
        <activity android:name=".image.ImageDetailActivity"/>
        <activity android:name=".comment.CommentActivity">
        </activity>

        <service
            android:enabled="true"
            android:exported="true"
            android:name=".service.AutoUpdateService">
        </service>
        <service
            android:enabled="true"
            android:exported="true"
            android:name=".service.DownloadArticleService">
        </service>
    </application>

</manifest>